.idea/
.gradle/
build/

/keystore.properties
/local.properties

src/main/res/values/keys.xml
src/main/res/xml/app_tracker.xml

*.keystore

src/main/java/uk/ac/horizon/artcodes/Hash.java

app/google-services.json

app/gradle.properties

app/src/main/res/values/keys.xml
.DS_Store
