.gradle
build
/gradle.properties
.idea

picasso-2.3.3/build.gradle

picasso-2.3.3/picasso-2.3.3.iml

picasso-2.3.3/picasso-2.3.3.jar

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

settings.gradle

.idea/modules.xml

.idea/misc.xml

.idea/gradle.xml

.idea/workspace.xml
