<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Artcodes recognises a different marker scheme that allows the
  ~ creation of aesthetically pleasing, even beautiful, codes.
  ~ Copyright (C) 2013-2015  The University of Nottingham
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published
  ~ by the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along using this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="uk.ac.horizon.artcodes">

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

	<uses-feature
			android:name="android.hardware.camera"
			android:required="false" />
	<uses-feature
			android:name="android.hardware.camera.any"
			android:required="false" />
	<uses-feature
			android:name="android.hardware.camera.front"
			android:required="false" />
	<uses-feature
			android:name="android.hardware.camera.autofocus"
			android:required="false" />
	<uses-feature
			android:name="android.hardware.camera.flash"
			android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" />

	<application
			android:allowBackup="false"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:name=".Artcodes"
			android:theme="@style/Theme.Artcodes"
			tools:ignore="UnusedAttribute">
		<meta-data
				android:name="com.google.android.gms.version"
				android:value="@integer/google_play_services_version" />
		<meta-data
				android:name="com.google.android.geo.API_KEY"
				android:value="@string/api_key" />

		<!--
		<activity android:name=".activities.TestScanActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		-->
		<activity
				android:name=".activity.ArtcodeActivity"
				android:screenOrientation="portrait"
				android:theme="@style/Theme.Artcodes.Camera">
		</activity>
		<activity
				android:name=".scanner.activity.ScannerActivity"
				android:screenOrientation="portrait"
				android:theme="@style/Theme.Artcodes.Camera">

			<intent-filter>
				<action android:name="uk.ac.horizon.aestheticodes.SCAN" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="@string/artcode_scan_scheme" />
			</intent-filter>
		</activity>
		<activity
				android:name=".activity.ActionActivity"
				android:parentActivityName="uk.ac.horizon.artcodes.activity.ArtcodeActivity"
				android:theme="@style/Theme.Artcodes.Transparent">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="uk.ac.horizon.artcodes.activity.ArtcodeActivity" />
		</activity>
		<activity
				android:name=".activity.ExperienceActivity"
				android:parentActivityName=".activity.NavigationActivity"
				android:screenOrientation="portrait"
				android:exported="true"
				android:theme="@style/Theme.Artcodes.Transparent">
			<meta-data
					android:name="android.support.PARENT_ACTIVITY"
					android:value="uk.ac.horizon.artcodes.activity.NavigationActivity" />

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http"
				      android:mimeType="application/x-artcode" />
				<data android:scheme="https"
				      android:mimeType="application/x-artcode" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="file" />
				<data android:scheme="content" />
				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:mimeType="*/*" />
				<data android:host="*" />
				<data android:pathPattern="/.*\\.artcode" />
			</intent-filter>
		</activity>
		<activity
				android:name=".activity.NavigationActivity"
				android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
				android:name=".activity.ExperienceEditActivity"
				android:windowSoftInputMode="stateUnchanged">
		</activity>

		<receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
		          android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.analytics.AnalyticsService"
		         android:enabled="true"
		         android:exported="false" />
	</application>
</manifest>
